{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block content %}
                <h1>{{firstmsg}}</h1>
                <h2>{{congmsg}}</h2>
                <h2>{{error}}</h2>
          
		<button  onclick="{{url_for('register')}}" name="signup" value="signup" >click for signup</button>
    
    
  		 <a href="{{url_for('register')}}" target="_blank"><h1>Sign up</h1></a>
        <br>
        <a href="{{url_for('login')}}" target="_blank"><h1>Dashboard</h1></a>
                <a href="{{url_for('result')}}" target="_blank"><h1>Del page</h1></a>
     {% if session.username %}
   
    <div class="users">
        <h1>Welcome onboard {{ session.username }}</h1>
      
      <table style="width:100%;">
        
          <tr>
            <td>{{ session.username }}</td>
            <td><form action="{{ url_for('delete_user') }}" method="post" class="delete-user">
              <input type="submit" value="Delete {{ session.username }}" name="user_to_delete"></form>
              </td>
          </tr>   
       
      </table>
    </div>

    {%endif%}
{% endblock %}