{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<h2>Registered Users List</h2>

    <div class="users">
         {% if session.username %}
      You are Register {{ session.username }} <a href="/logout">logout</a>.
   {% else %}
      You are not Register. <a href="/login">login</a>.
   {% endif %}
       
      
      <table style="width:100%;">
        {%for user in users%}
          <tr>
            <td>{{user[0]}}</td>
            <td><form action="{{ url_for('delete_user') }}" method="post" class="delete-user">
              <input type="submit" value="Delete {{user[0]}}" name="user_to_delete"></form>
              </td>
          </tr>   
        {%endfor%}
      </table>
    </div>
<a href="/">home</a>.
  
{% endblock %}